@import url('https://fonts.googleapis.com/css?family=Roboto');

$purple: #8975b6;
$light-purple: #d4c7e6;
$white: #fff;
$gray: #f8f8f8;
$transparente: rgba(0, 0, 0, 0);

@mixin border($weight, $color, $radius) {
  border: solid $weight $color;
  border-radius: $radius;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

select,
button {
  @include border(2px, $light-purple, 5px);
  display: block;
  width: 120px;
  margin: 0 0 10px;
  background: $white;
  color: $purple;
  font: 20px 'Roboto', sans-serif;
  text-align: center;

  &:last-child {
    margin: 0;
  }

  &:disabled {
    color: #eee;
    border-color: #eee;
  }
}

.wrapper {
  width: 640px;
  margin: 20px auto 0;
}

.game {
  @include border(2px, $light-purple , 3px);
  background-color: $gray;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  box-shadow: 0 0 200px $light-purple;
  color: $purple;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.game__container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  box-shadow: inset 0 0 50px $light-purple;
}

.game__info {
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.next-shape {
  @extend .game__container;
  margin: 0 auto;
}

.square {
  width: 30px;
  height: 30px;
  margin-bottom: 0;
  border: solid 1px $white;
  background: $transparente;
}

.active {
  background: $purple;
  border: solid 1px $white;
  border-radius: 3px;
  box-shadow: inset 0 0 1px $gray;
}

.letter {
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.btn-holder {
  margin-bottom: 50px;
}